@using DogMatch.Client.Services
@inject NavigationService navigate

<MatOverline>
    <b>Owner Navigation (edit dog):</b>
</MatOverline>

<div class="d-flex flex-md-column align-items-center">
    <MatChipSet>
        <MatChip LeadingIcon="list"
                 Label="Basic Details"
                 Class="custom-chip"
                 @onclick="() => navigate.ToUpdateDoggo(DogId) " />
        <MatChip LeadingIcon="bar_chart"
                 Label="Temperament"
                 Class="custom-chip"
                 @onclick="() => navigate.ToTemperament(DogId)" />
        <MatChip LeadingIcon="speaker_notes"
                 Label="Biography"
                 Class="custom-chip"
                 @onclick="() => navigate.ToBiography(DogId)" />
        <MatChip LeadingIcon="add_photo_alternate"
                 Label="Dog Album"
                 Class="custom-chip"
                 @onclick="() => navigate.ToDogAlbum(DogId)" />
        <MatChip LeadingIcon="person"
                 Label="Owner's Portal"
                 Class="custom-chip"
                 @onclick="() => navigate.ToOwnerPortal()" />
        <MatChip LeadingIcon="pets"
                 Label="All Doggos"
                 Class="custom-chip"
                 @onclick="() => navigate.ToAllDoggos()" />
    </MatChipSet>
</div>

@code {
    [Parameter]
    public int DogId { get; set; }
}