@using DogMatch.Client.Services
@inject TemperamentState state

<div>
    <MatH5>Picky Eater Rating</MatH5>
    <TemperamentFormField Value="@(state.temperament.IsPickyEater ?? 0)"
                          Name="IsPickyEater" />
    <br />
    <MatH5>Shedding Rating</MatH5>
    <TemperamentFormField Value="@(state.temperament.Shedding ?? 0)"
                          Name="Shedding" />
    <br />
    <MatH5>Barking Rating</MatH5>
    <TemperamentFormField Value="@(state.temperament.Barking ?? 0)"
                          Name="Barking" />
    <br />
    <MatH5>Overall Smelliness Rating</MatH5>
    <TemperamentFormField Value="@(state.temperament.SmellRating ?? 0)"
                          Name="SmellRating" />
</div>

@code {
    protected override void OnInitialized() => state.OnChange += RefreshComponent;
    private void RefreshComponent() => StateHasChanged();
}