@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/*----> app base styles <----*/
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


/*----> added styles <----*/

/* add padding to top/bottom of body */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* make form input focus outlines to app theme color */
.form-control:focus {
    border-color: #275381;
    box-shadow: 0 0 0 0.2rem RGBA(39, 83, 129, 0.50);
}

.icon-align {
    display: inline-block;
    vertical-align: -3px;
}

.nav-text-align {
    display: inline-block;
    vertical-align: 3px;
}

.brand-icon-align {
    display: inline-block;
    vertical-align: -3px;
}

.inline-center-row {
    display: inline-block;
    text-align: center;
    margin-top: 30px;
}

.inline-center-col {
    display: inline;
    text-align: center;
}

.button-margin {
    margin-left: 10px;
    margin-right: 10px;
}

.center-align {
    text-align: center;
}

.center-row {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.left-margin-row {
    margin-left: 12px;
    margin-bottom: 10px;
}

.col-center-elements {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.margin-ten-top-bottom {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* styles for image drop zone, file uploader */
input.image-drop-clickable {
    position: absolute;
    right: 0;
    width: 100vw;
    height: 100%;
    opacity: 0;
    margin-top: -20px;
    margin-left: -20px;
    cursor: pointer;
}

.droptarget {
    display: block;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px dashed black;
    border-radius: 5px;
    position: relative;
}

.droptarget-drag {
    border-color: orangered;
    font-weight: bold;
    background-color: lightcoral;
}

/* album image preview styles */
.album-preview-card {
    max-width: 300px;
    max-height: 350px;
    display: inline-flex;
    overflow: hidden;
    text-align: center;
}

.img-preview-container {
    width: 100%;
    margin: 7px 0 7px 0;
    overflow: hidden;
    height: 200px;
    text-align: center;
}

img.album-preview-img {
    max-height: 200px;
}


/*-> styles that override or customize Radzen or MatBlazor styles must be kept in global css <-*/
/*----> Override/Customize Radzen Styles <----*/ 

/* hide built in stepper buttons in Radzen Stepper component */
.custom-stepper .ui-steps-buttons {
    display: none !important;
}

/* make position fixed for Radzen paginator bottom for dog lists */
.custom-paginator-bottom .ui-paginator-bottom {
    padding: 4px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 20px; /* ensure it's above the footer */
    width: 99vw;
    border-top: 2px solid ghostwhite;
}

/* hide ban (clear) rating icon in Radzen Rating component */
.custom-rating .pi-ban {
    display: none !important;
}

/* resize radzen graph text */
.rz-tick-text{    
    font-size: x-small;
}

/* color select radzen list-box style */
.color-listbox {
    margin-bottom: 20px;
    height: 200px;
    text-align: left !important;
    width: 350px;
}

/* radzen card styles */
.create-dog-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 20px;
    height: 200px;
}

.dog-profile-card {
    width: 90%;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* hide radzen graph text and tick when viewport is small */
@media (max-width: 767.98px) {    
    .rz-tick-text {
        display: none;
    }

    .rz-tick {
        display: none;
    }
}

/*----> Override/Customize MatBlazor Styles <----*/

/* center mat accordion col */
.custom-accordion {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* override color of MatChip Icon*/
.mdc-chip__icon {
    color: ghostwhite !important;
}

/* MatTextField style (outlined version)*/
.mat-text-custom {
    width: 100%;
    background-color: white;
}

/* custom navigation mat chips style */
.custom-chip {
    background-color: #0D5AA7 !important;
    color: ghostwhite !important;
}

    .custom-chip:hover {
        background-color: #1174d6 !important;
    }

/* mat icon btn */
.material-icon-btn {
}
    /* hide btn outline on mat icon button */
    .material-icon-btn:focus {
        outline: none;
    }

/* inline mat button (and other non-mat inline items) */
.inline-btn {
    color: ghostwhite;
    display: inline;
    margin-left: 5px;
}

/* add background color on menu item highlight */
.custom-mat-menu .mdc-ripple-upgraded:hover {
    background-color: #f4f4f4;
}