@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

/* hide built in stepper buttons in Radzen Stepper component */
.custom-stepper .ui-steps-buttons {
    display: none !important;
}

/* make position fixed for Radzen paginator bottom for dog lists */
.custom-paginator-bottom .ui-paginator-bottom {
    padding: 4px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 20px; /* ensure it's above the footer */
    width: 99vw;
    border-top: 2px solid ghostwhite;
}

/* hide ban (clear) rating icon in Radzen Rating component */
.custom-rating .pi-ban {
    display: none !important;
}

/* resize radzen graph text */
.rz-tick-text{    
    font-size: x-small;
}

/* ---- align icons and nav text ----- */
/* for icons: */
.icon-align {
    display: inline-block;
    vertical-align: -3px;
}
/* for nav link: */
.nav-text-align {
    display: inline-block;
    vertical-align: 3px;
}

/* for brand icon: */
.brand-icon-align {
    display: inline-block;
    vertical-align: -2px;
}

/* for brand text: */
.brand-text-align {
    display: inline-block;
    vertical-align: 2px;
}
/*----------------------*/

/* inline center row & col */
.inline-center-row {
    display: inline-block;
    text-align: center;
    margin-top: 30px;
}

.inline-center-col {
    display: inline;
    text-align: center;
}

/* button left/right 10px margin */
.button-margin {
    margin-left: 10px;
    margin-right: 10px;
}

.center-align {
    text-align: center;
}

.center-row {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* center mat accordion col */
.custom-accordion {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* override color of MatChip Icon*/
.mdc-chip__icon {
    color: ghostwhite !important;
}

/*MatTextField style (outlined version)*/
.mat-text-custom {
    width: 100%;
    background-color: white;
}

/*clickable image drop area*/
input.image-drop-clickable {
    position: absolute;
    right: 0;
    width: 100vw;
    height: 100%;
    opacity: 0;
    margin-top: -20px;
    margin-left: -20px;
    cursor: pointer;
}

/* center elements in column */
.col-center-elements {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* dog card styles */
.create-dog-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 20px;
    height: 200px;
}

.dog-profile-card {
    width: 90%;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* styles for image drop zone, file uploader */
.droptarget {
    display: block;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px dashed black;
    border-radius: 5px;
    position: relative;
}

.droptarget-drag {
    border-color: orangered;
    font-weight: bold;
    background-color: lightcoral;
}
/*------------------------------*/

/* footer styles */
.footer-block {
    display: block;
    padding: 0px;
    height: 20px;
    width: 100%;
}

.footer-custom {
    background-color: #003366;
    border-top: 1px solid #E7E7E7;    
    text-align: center;
    padding: 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    font-size: small;
    color: white;
}

/* color select list-box style */
.color-listbox {
    margin-bottom: 20px;
    height: 200px;
    text-align: left !important;
    width: 350px;
}

/* custom navigation chips style */
.custom-chip {
    background-color: #0D5AA7 !important;
    color: ghostwhite !important;
}

    .custom-chip:hover {
        background-color: #1174d6 !important;
    }

/* dog profile - profile image and album images styles */
.profile-page-image {
    max-width: 200px;
    height: auto;
    max-height: 300px;
}

.album-preview-card {
    max-width: 300px;
    max-height: 350px;
    display: inline-flex;
    overflow: hidden;
    text-align: center;
}

.img-preview-container {
    width: 100%;
    margin: 7px 0 7px 0;
    overflow: hidden;
    height: 200px;
    text-align: center;
}

img.album-preview-img {
    max-height: 200px;
}

.modal-image-container {
    width: 100%;
    margin: 7px 0 7px 0;
    overflow: hidden;
    height: 65vh;
    text-align: center;
}

img.modal-album-img {
    max-height: 65vh;
}

.album-thumbnail {
    background-color: transparent;
    border: 0px solid;
}

    .album-thumbnail:focus {
        outline: none;
    }

.album-btn-container {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: -20px;
}

    .album-btn-container button {
        display: inline-block;
    }

.album-btn-group {
    margin: 0;
    margin-top: 9px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 100%;
}

.material-icon-btn {
}
    /* hide btn outline on mat icon button */
    .material-icon-btn:focus {
        outline: none;
    }
/*--------------------------*/

.margin-ten-top-bottom {
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

/* make form input focus outlines to app theme color */
.form-control:focus {
    border-color: #275381;
    box-shadow: 0 0 0 0.2rem RGBA(39, 83, 129, 0.50);
}

/* dog search styles */
.dog-search .form-control {
    padding-left: 2.375rem;
}

.dog-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.search-btn {
    color: ghostwhite;
    display: inline;
    margin-left: 5px;
}

.search-row {
    margin-left: 12px;
    margin-bottom: 10px;
}
/*---------------------------*/

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

/* keeping sidebar menu styles for now in case I want to change back to sidebar navigation */
.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    /* hide graph text and tick when viewport is small */
    .rz-tick-text {
        display: none;
    }

    .rz-tick {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    /* hiding toggler at this width causes issues with vertical nav (navbar-expand-lg), 
       but saving for potential future return to sidebar nav */
    /*.navbar-toggler {
        display: none;
    }*/

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
