@using DogMatch.Client.Services
@using DogMatch.Shared.Globals

@inject BiographyState state

<div class="d-flex flex-md-column align-items-center">
    <MatOverline>
        <b>Save and Navigate:</b>
    </MatOverline>
    <MatChipSet>
        <MatChip LeadingIcon="visibility"
                 Label="Doggo Profile"
                 Class="custom-chip"
                 @onclick="() => state.SaveAndNavigate(Navigate.ToProfile)" />
        <MatChip LeadingIcon="list"
                 Label="Basic Details"
                 Class="custom-chip"
                 @onclick="() => state.SaveAndNavigate(Navigate.ToDetails)" />
        <MatChip LeadingIcon="bar_chart"
                 Label="Temperament"
                 Class="custom-chip"
                 @onclick="() => state.SaveAndNavigate(Navigate.ToTemperament)" />
        <MatChip LeadingIcon="person"
                 Label="Owner's Portal"
                 Class="custom-chip"
                 @onclick="() => state.SaveAndNavigate(Navigate.ToOwnersPortal)" />
        <MatChip LeadingIcon="pets"
                 Label="All Doggos"
                 Class="custom-chip"
                 @onclick="() => state.SaveAndNavigate(Navigate.ToAllDoggos)" />
    </MatChipSet>
</div>
