@using DogMatch.Client.Services
@using DogMatch.Shared.Globals

@inject BiographyState state

<MatExpansionPanel Expanded="state.Expanded.SleepExpanded">
    <MatExpansionPanelSummary @onclick="() => state.ChangeExpanded(BiographyExpansion.Sleep, true)">
        <MatExpansionPanelHeader>
            @if (state.Expanded.SleepExpanded)
            {
                <MatIcon Icon="sentiment_satisfied_alt" Class="icon-align" />
            }
            else
            {
                <MatIcon Icon="pets" Class="icon-align" />
            }
        </MatExpansionPanelHeader>
        <MatExpansionPanelSubHeader>
            <b>Favorite Sleep Location:</b>
        </MatExpansionPanelSubHeader>
    </MatExpansionPanelSummary>
    <MatExpansionPanelDetails>
        <span>
            Tell us about your dog's favorite place to sleep. Does your dog sleep a lot?
        </span>
        <br />
        <MatTextField @bind-Value="@state.Biography.FavoriteSleepLocation"
                      Label="Your dog's favorite sleep location"
                      TextArea="true"
                      Style="width: 100%;"
                      Outlined="true"
                      TValue="string"
                      rows="5" />
        <div class="container col-md-4 inline-center-row">
            <button type="button"
                    class="btn btn-sm btn-primary"
                    @onclick="() => state.ChangeExpanded(BiographyExpansion.Toy)">
                Go To Previous
            </button>
            <button type="button"
                    class="btn btn-sm btn-primary"
                    @onclick="() => state.ChangeExpanded(BiographyExpansion.Walk)">
                Go To Next
            </button>
        </div>
    </MatExpansionPanelDetails>
</MatExpansionPanel>

@code {
    protected override void OnInitialized() => state.OnChange += RefreshComponent;
    private void RefreshComponent() => StateHasChanged();
}
