@page "/CreateDoggo"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using DogMatch.Client.Services

@attribute [Authorize]
@inject DogState state

<AuthorizeView>
    <Authorized>
        <div style="text-align:center">
            <MatH2>Create New Doggo</MatH2>
            <form>
                <div class="row">
                    <RadzenCard class="create-dog-card">
                        <MatOverline>
                            <MatOverline>
                                Enter your dogs name to begin creating a profile
                            </MatOverline>
                        </MatOverline>
                        <MatTextField @bind-Value="@state.Doggo.Name"
                                      Icon="pets"
                                      Class="mat-text-custom"
                                      IconTrailing="true"
                                      PlaceHolder="Dog Name"
                                      Outlined="true"
                                      HelperText="Enter your Dog's Name" />
                        <br />
                        <button type="button"
                                class="btn btn-primary"
                                @onclick="@state.CreateDoggo">
                            Create New Doggo
                        </button>
                    </RadzenCard>
                </div>
                <br />
            </form>
        </div>
    </Authorized>
</AuthorizeView>


@code {
    protected override void OnInitialized() => state.NewDoggo();
}
