@page "/DoggoDetails/{id:int}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using DogMatch.Client.Services
@using DogMatch.Client.Components.Dog.BasicDetails

@attribute [Authorize]
@inject DogState state
@inject NavigationService navigate

<AuthorizeView>
    <Authorized>
        <div class="center-align">
            <MatH3>Details for @state.Doggo.Name</MatH3>
            <MatH5>Please give us more details about your dog to complete the profile.</MatH5>
            <form>
                <BreedComponent />
                <BirthdayComponent />
                <GenderComponent />
                <WeightComponent />
                <br />
                <ProfileImageUpload />
                <br />
                <button class="btn btn-secondary"
                        @onclick="@SaveAndGoToProfile"
                        type="button">
                    Save
                </button>
                <button class="btn btn-primary"
                        @onclick="@SaveAndGoToTemperament"
                        type="button">
                    Save and Go To Temperament
                </button>
            </form>
            <br />
            <br />
        </div>
    </Authorized>
</AuthorizeView>


@code {
    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // reset initial dog weight on initialized component
        state.initialWeight = null;

        // get dog
        await state.GetDoggo(Id);
    }

    private async Task SaveAndGoToProfile()
    {
        await state.UpdateDoggo();
        navigate.ToProfile(state.Doggo.Id);
    }

    private async Task SaveAndGoToTemperament()
    {
        await state.UpdateDoggo();
        navigate.ToTemperament(state.Doggo.Id);
    }
}
