@page "/DoggoProfile/{id:int}"
@using Microsoft.AspNetCore.Authorization
@using DogMatch.Client.Services
@using DogMatch.Client.Components.DogProfile

@attribute [Authorize]
@inject DogProfileState state

<AuthorizeView>
    <Authorized>
        <MatH2>@state.Doggo.Name</MatH2>
        <br />

        @if (state.Doggo == null)
        {
            <div class="col-lg-12">
                <Flow Size="200px" Color="#003366" Center="true" />
            </div>
        }

        <DogCard />

        @if (state.Doggo.Owner == context.User.Identity.Name)
        {
            <div class="center-align">
                <ProfileNavigator DogId="state.Doggo.Id" />
                <br />
                <DeleteProfile DogId="state.Doggo.Id" DogName="@state.Doggo.Name" />
            </div>
        }
        <br />
    </Authorized>
</AuthorizeView>

@code {
    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync() => await state.GetDoggo(Id);
}
