@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using DogMatch.Client.Services

@inject HttpClient Http
@inject NavigationService navigate

<div style="text-align:center;">
    <MatH1>DogMatch</MatH1>
    <br />
    <MatH6>
        DogMatch matches good doggos on common traits.
        <br /> Find the best matches for your dog.
    </MatH6><br />

    <div class="container col-md-4 inline-center-row">
        <button class="btn btn-primary"
                @onclick="@Login">
            Login
        </button>
        <button class="btn btn-primary"
                @onclick="@Register">
            Register
        </button>
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authenticationState = await AuthenticationStateTask;

        // route user to All Doggos if authenticated
        if (authenticationState.User.Identity.IsAuthenticated)
        {
            navigate.ToAllDoggos();
        }
    }

    private void Login() => navigate.ToLogin();
    private void Register() => navigate.ToRegister();
}
