@using DogMatch.Client.Services
@using DogMatch.Shared.Globals

@inject DogAlbumState state

<MatOverline Class="center-align">
    <b>Or Save and Navigate:</b>
</MatOverline>

<div class="d-flex flex-md-column align-items-center">
    <MatChipSet>
        <MatChip LeadingIcon="visibility"
                 Label="Doggo Profile"
                 Class="custom-chip"
                 @onclick="() => state.SaveAndNavigate(Navigate.ToProfile)" />
        <MatChip LeadingIcon="list"
                 Label="Basic Details"
                 Class="custom-chip"
                 @onclick="() => state.SaveAndNavigate(Navigate.ToDetails)" />
        <MatChip LeadingIcon="bar_chart"
                 Label="Temperament"
                 Class="custom-chip"
                 @onclick="() => state.SaveAndNavigate(Navigate.ToTemperament)" />
        <MatChip LeadingIcon="speaker_notes"
                 Label="Biography"
                 Class="custom-chip"
                 @onclick="() => state.SaveAndNavigate(Navigate.ToBiography)" />
        <MatChip LeadingIcon="person"
                 Label="Owner's Portal"
                 Class="custom-chip"
                 @onclick="() => state.SaveAndNavigate(Navigate.ToOwnersPortal)" />
        <MatChip LeadingIcon="pets"
                 Label="All Doggos"
                 Class="custom-chip"
                 @onclick="() => state.SaveAndNavigate(Navigate.ToAllDoggos)" />
    </MatChipSet>
</div>
