@using DogMatch.Client.Services
@using DogMatch.Shared.Globals

@inject TemperamentState state

@if (state.tabIndex != 0)
{
    <button type="button"
            class="btn btn-primary button-margin"
            @onclick="@(args => state.StepperChange(TemperamentDirection.Back))">
        Previous Step
    </button>
}

@if (state.tabIndex != 6)
{
    <button type="button"
            class="btn btn-primary button-margin"
            @onclick="@(args => state.StepperChange(TemperamentDirection.Forward))">
        Next Step
    </button>
}
else
{
    <button type="button"
            class="btn btn-primary button-margin"
            @onclick="@(args => state.StepperChange(TemperamentDirection.Biography))">
        Next to Biography
    </button>
}

@code {
    protected override void OnInitialized() => state.OnChange += RefreshComponent;
    private void RefreshComponent() => StateHasChanged();
}
