@using DogMatch.Client.Services
@using DogMatch.Shared.Globals

@inject DogState state

<div class="row center-row">
    <div class="form-group col-md-4 col-md-6 col-center-elements">
        <MatOverline>
            <b>Gender</b>
        </MatOverline>
        <div class="d-flex flex-column align-items-center">
            <MatChipSet Choice="true">
                <MatChip Label="Female"
                         IsCheckable="true"
                         @onclick="() => state.UpdateGender(DogGenderTypes.Female)"
                         IsSelected="@(state.Doggo.Gender == "female" ? true : false)" />
                <MatChip Label="Male"
                         IsCheckable="true"
                         @onclick="() => state.UpdateGender(DogGenderTypes.Male)"
                         IsSelected="@(state.Doggo.Gender == "male" ? true : false)" />
            </MatChipSet>
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized() => state.OnChange += RefreshComponent;
    private void RefreshComponent() => StateHasChanged();
}
