@using DogMatch.Client.Services
@inject DogState state

<div class="row center-row">
    <div class="form-group col-md-4 col-md-6 col-center-elements">
        <MatOverline>
            <b>Weight</b>
        </MatOverline>
        @if (state.initialWeight.HasValue)
        {
            <MatSlider Value="state.initialWeight ?? 0"
                       Discrete="true"
                       Immediate="true"
                       Pin="true"
                       TValue="int"
                       ValueMin="0"
                       ValueMax="150"
                       Style="width: 100%;"
                       EnableStep="true"
                       Step="1"
                       ValueChanged="weight => state.UpdateWeight(weight)" />
        }

        @if (state.Doggo.Weight > 149)
        {
            <MatBody2>
                150+ lbs.
            </MatBody2>
        }
        else
        {
            <MatBody2>
                Weight: @state.Doggo.Weight lbs.
            </MatBody2>
        }
    </div>
</div>

@code {
    protected override void OnInitialized() => state.OnChange += RefreshComponent;
    private void RefreshComponent() => StateHasChanged();
}
