@using DogMatch.Client.Services
@inject DogState state

<div class="row center-row">
    <div class="form-group col-md-4 col-md-6 col-center-elements">
        <MatOverline>
            <b>Weight</b>
        </MatOverline>
        @if (state.initialWeight.HasValue)
        {
            <MatSlider @bind-Value="state.Doggo.Weight"
                       ValueMin="0"
                       ValueMax="150" 
                       Immediate="true" 
                       Pin="true"
                       Discrete="true" />
        }

        @if (state.Doggo.Weight > 149)
        {
            <MatBody2>
                150+ lbs.
            </MatBody2>
        }
        else
        {
            <MatBody2>
                Weight: @state.Doggo.Weight lbs.
            </MatBody2>
        }
    </div>
</div>

@code {
    protected override void OnInitialized() => state.OnChange += RefreshComponent;
    private void RefreshComponent() => StateHasChanged();
}
