@inherits LayoutComponentBase

<RadzenNotification />
<header>
    <NavMenu />
</header>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
<br />

<footer class="fixed-bottom" style="@FooterBlockStyle">
    <div style="@FooterStyle">
        &copy; 2020 - DogMatch v0.3.1
    </div>
</footer>

@code {
    private string FooterBlockStyle = "display: block; padding: 0px; height: 20px; width: 100%;";
    private string FooterStyle = "background-color: #003366; border-top: 1px solid #E7E7E7; border-top: 1px solid #E7E7E7; text-align: center; padding: 0px; position: fixed; left: 0; bottom: 0; height: 20px; width: 100%; font-size: small; color: white;";
}