@using System.Reflection
@inherits LayoutComponentBase

<div class="page">
    <RadzenNotification />
    <header>
        <NavMenu />
    </header>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
    <br />

    <footer class="fixed-bottom footer-block">
        <div class="footer-custom">
            &copy; 2021 DogMatch - @version
        </div>
    </footer>
</div>

@code {
    private string version;

    protected override void OnInitialized()
    {
        // get global assembly informational version
        var assemblyVersionAttribute = (AssemblyInformationalVersionAttribute)Assembly
            .GetExecutingAssembly()
            .GetCustomAttributes(typeof(AssemblyInformationalVersionAttribute), true)
            .Single();
        version = string.Concat("v", assemblyVersionAttribute.InformationalVersion);
    }
}