@inherits LayoutComponentBase

<RadzenNotification />
<header>
    <NavMenu />
</header>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
<br />

<footer class="fixed-bottom footer-block">
    <div class="footer-custom">
        &copy; 2020 - DogMatch v0.4.1
    </div>
</footer>